<html>
    <head>
        <title>Shop Management</title>
        <script>

        </script>
    </head>
    <body>
        <form action="/shop/add" method="POST">
            <label>Name</label> <input type="text" name="name" required><br>
            <label>Category</label> <input type="text" name="category" required><br>
            <label>Price</label> <input type="number" name="price" required><br>
            <label>Method</label> <input type="text" name="method" required><br>
            <p>Valid Methods:</p>
            <ul>
                <li>None</li>
                <li>Rank</li>
            </ul>
            <label>Method Parameters</label> <input type="text" name="methodparams"><br>
            <p>Optional. Set as the name of the group for the Rank option.</p>
            <label>Description</label> <br> <textarea rows="10" cols="30" name="description" required></textarea><br>
            <input type="submit" value="Create!">
        </form>
        <br>
        <br>
        <form action="/shop/del" method="POST">
            <label>Name</label> <input type="text" name="name" required><br>
            <input type="submit" value="Delete!">
        </form>
    </body>
</html>
